@use '~bootstrap/scss/bootstrap';
@use './partials/reset';
@use './partials/modal';
@use './partials/welcome';
@use './partials/navbar';
@use './partials/general';
@use './partials/index';
@use './partials/create';






