.navbar{
    background-color: rgb(247, 219, 160);
}
.logo{
    color:rgb(47, 50, 179);
    font-size:40px;
}
.anton-regular {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;   
 }
 .nav-link{
    font-weight:600;
 }